/* auto_viz_a_payment_mobile.css */

/* Background Image */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/static/app/images/bf.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    @media screen and (max-width: 767px) {
        background-size: cover;
        background-repeat: repeat-y;
      }
  }
  
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px; /* Adjust padding for smaller screens */
    background-color: #FCF6F5;
    color: #990011;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid black;
  }
  
  .navbar-left h1 {
    margin: 0;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    margin-left: 5px; /* Adjust margin for smaller screens */
    color: #990011;
    text-decoration: none;
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  
  /* Style the anchor elements when hovered */
  .navbar-right a:hover {
    color: gray; /* Change color on hover if desired */
  }
  
  /* Style specifically the "Change Auto" button */
  .navbar-right a[href*="auto_viz_a_list"] {
    padding: 5px 10px; /* Adjust padding for smaller screens */
    background-color: #990011;
    color: #FCF6F5;
    font-size: 14px; /* Adjust font size for smaller screens */
    border-radius: 4px;
  }
  
  /* Main Content Container */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Details and Form Wrapper */
  .details-form-wrapper {
    width: 100%;
  }
  
  /* Auto Details Section */
  .auto-details,
  .payment-form {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
  }
  
  .auto-details h2,
  .payment-form h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .auto-details p,
  .payment-form p {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .auto-details button,
  .payment-form button,
  .payment-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .auto-details button:hover,
  .payment-form button:hover,
  .payment-form input[type="submit"]:hover {
    background-color: #45a049;
  }
  