.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-top-left-radius: 15px; 
border-top-right-radius: 15px; 
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}

.navbar-left h1 {
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px; /* Increase font size for the buttons */
}
.navbar-right a:hover {
  color: gray; /* Change color on hover if desired */
}