.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/static/app/images/bf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #f0f0f0; */
    background-color: #FCF6F5;
    color: #990011;
    border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid black;
  }
  
  .navbar-left h1 {
    margin: 0;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    margin-left: 10px;
    color: #990011;
    text-decoration: none;
    font-size: 18px;
  }
  /* Style the anchor elements when hovered */
.navbar-right a:hover {
  color: gray; /* Change color on hover if desired */
}

/* Style specifically the "Become Partner" button */
.navbar-right a[href*="user_refund"] {
  padding: 8px 15px; /* Adjust padding for button size */
  background-color: #990011; /* Apply orange box color */
  color: #FCF6F5; /* Set text color to black */
  font-size: 18px; /* Increase font size for the button */
  border-radius: 4px;
}


/* Navbar styles remain unchanged */

.user-bookings {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-bookings h2 {
  color: #333;
}

.bookings-table {
  display: flex;
  flex-direction: column;
}

.table-header {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 10px;
}

.header-column {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.header-column:last-child {
  border-right: none;
}

.booking-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.row-column {
  flex: 1;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extend-btn{
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}

.extend-btn:hover {
  background-color: #45a049;
}

.custom-margin {
  margin-top: 50px;
}

.cancel-btn{
  background-color: rgb(209, 48, 48);
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}

.cancel-btn:hover {
  background-color: red;
}

.feedback-btn {
  background-color: rgb(37, 181, 213);
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}

.feedback-btn:hover {
  background-color: rgb(49, 134, 203);
}

/* Add these styles for success and error messages */
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Success message style */
.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

/* Error message style */
.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}



/* ,
.cancel-btn,
.feedback-btn 

,
.cancel-btn:hover,
.feedback-btn:hover */


