.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/static/app/images/bf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #f0f0f0; */
    background-color: #FCF6F5;
    color: #990011;
    border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid black;
  }
  
  .navbar-left h1 {
    margin: 0;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    margin-left: 10px;
    color: #990011;
    text-decoration: none;
    font-size: 18px;
  }
  /* Style the anchor elements when hovered */
.navbar-right a:hover {
  color: gray; /* Change color on hover if desired */
}

/* Style specifically the "Become Partner" button */
.navbar-right a[href*="user_bookings"] {
  padding: 8px 15px; /* Adjust padding for button size */
  background-color: #990011; /* Apply orange box color */
  color: #FCF6F5; /* Set text color to black */
  font-size: 18px; /* Increase font size for the button */
  border-radius: 4px;
}

/* Add the following styles to your existing CSS file */

.feedback-container {
  max-width: 550px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-container h2 {
  color: #333;
}

.feedback-question {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.emoji-rating {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-right: 25px;
}

input[type="radio"]:checked + label {
  transform: scale(1.2); /* Change the size of the selected emoji */
  color: #ffcc00; /* Change the color of the selected emoji */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
/* Styles for success message */
.feedback-message.success {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

/* Styles for error message */
.feedback-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

