{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'app/admin_add_traveller.css' %}">
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="navbar-left">
        <h1>Borewell Truck</h1>
      </div>
      <div class="navbar-right">
        {% if request.user.is_authenticated %}
          <p>User:{{ request.user.username }}</p>
        {% endif %}
        <a href="{% url 'admin_borewelltruck_viz_a_list' %}">VIZ-A List</a>
        <a href="{% url 'admin_borewelltruck_viz_b_list' %}">VIZ-B List</a>
        <!-- <a href="{% url 'admin_borewelltruck_khm_a_list' %}">KHM-A List</a>
        <a href="{% url 'admin_borewelltruck_khm_b_list' %}">KHM-B List</a> -->
        <a href="{% url 'admin_add_vehicle' %}">Back</a>
      </div>
    </div>
  </nav>
  <div class="background-image"></div>
  <div class="form-container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  </ul>


    <label for="vehicle_id">Vehicle ID:</label>
    <input type="text" id="vehicle_id" name="vehicle_id">

    <label for="vehicle_number">Vehicle Number:</label>
    <input type="text" id="vehicle_number" name="vehicle_number">

    <label for="image">Select Image:</label>
    <input type="file" id="image" name="image">

    <label for="vehicle_name">Vehicle Name:</label>
    <input type="text" id="vehicle_name" name="vehicle_name">

    <label for="rent_cost">Rent Cost:</label>
    <input type="number" id="rent_cost" name="rent_cost">

    <label for="driver_name">Driver Name:</label>
    <input type="text" id="driver_name" name="driver_name">

    <label for="driver_contact">Driver Contact:</label>
    <input type="text" id="driver_contact" name="driver_contact">

    <label for="driver_cost">Driver Cost:</label>
    <input type="number" id="driver_cost" name="driver_cost">

    <label for="location">Location:</label>
    <select id="location" name="location">
    <option value="Vijayawada">Vijayawada</option>
    <option value="Khammam">Khammam</option>
    </select>

    <label for="station">Station:</label>
    <select id="station" name="station">
    <option value="A Station">A Station</option>
    <option value="B Station">B Station</option>
    </select>

    <label for="status">Status:</label>
    <input type="text" id="status" name="status">

    <!-- <label for="terms_conditions">Terms & Conditions:</label>
    <textarea id="terms_conditions" name="terms_conditions"></textarea> -->

    <input type="submit" value="Add">
  </form>
</div>
</body>
</html>