{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'app/admin_others_list.css' %}">
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="navbar-left">
        <h1>Welcome to Admin Dashboard!</h1>
      </div>
      <div class="navbar-right">
        {% if request.user.is_authenticated %}
          <p>User:{{ request.user.username }}</p>
        {% endif %}
        <a href="{% url 'admin_add_vehicle' %}">Back</a>
      </div>
    </div>
  </nav>
  
</body>
</html>