{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Your Page Title</title>
  <link rel="stylesheet" href="{% static 'app/admin_dashboard.css' %}">
  <style>
    .navbar-right a[href*="logout"] {
      padding: 8px 15px; /* Adjust padding for button size */
      background-color: #990011; /* Apply orange box color */
      color: #FCF6F5; /* Set text color to black */
      font-size: 18px; /* Increase font size for the button */
      border-radius: 4px;
    }</style>
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="navbar-left">
        <h1>Account</h1>
      </div>
      <div class="navbar-right">
        {% if request.user.is_authenticated %}
          <p>User:{{ request.user.username }}</p>
          <a href="{% url 'admin_dashboard' %}">Dashboard</a>
        {% endif %}
        <div>
          <a href="{% url 'admin_change_password' %}">Change Password</a>
          <a href="{% url 'admin_delete_account' %}">Delete Account</a>
      </div>
        
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </nav>
  <div class="background-image"></div>
  <!-- Other content of your webpage -->
</body>
</html>
