{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Your Page Title</title>
  <link rel="stylesheet" href="{% static 'app/khm_b_vehicle_list.css' %}">
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="navbar-left">
        <h1>Welcome!</h1>
      </div>
      <div class="navbar-right">
        {% if request.user.is_authenticated %}
          <p>User:{{ request.user.username }}</p>
          <a href="{% url 'khm_station_list' %}">Change Station</a>
        {% endif %}
        
        
      </div>
    </div>

  </nav>
</body>
</html>