{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'app/staff_khm_b_rides.css' %}">
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="navbar-left">
        <h1>Welcome to Staff Dashboard!</h1>
      </div>
      <div class="navbar-right">
        {% if request.user.is_authenticated %}
          <p>User:{{ request.user.username }}</p>
          <a href="{% url 'staff_dashboard' %}">Dashboard</a>
        {% endif %}
        <a href="{% url 'staff_rides' %}">Back</a>
      </div>
    </div>
  </nav>
</body>
</html>
