.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/static/app/images/bf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #f0f0f0; */
    background-color: #FCF6F5;
    color: #990011;
    border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid black;
  }
  
  .navbar-left h1 {
    margin: 0;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    margin-left: 10px;
    color: #990011;
    text-decoration: none;
    font-size: 18px;
  }
  /* Style the anchor elements when hovered */
.navbar-right a:hover {
  color: gray; /* Change color on hover if desired */
}

/* Style specifically the "Become Partner" button */
.navbar-right a[href*="admin_add_vehicle"] {
  padding: 8px 15px; /* Adjust padding for button size */
  background-color: #990011; /* Apply orange box color */
  color: #FCF6F5; /* Set text color to black */
  font-size: 18px; /* Increase font size for the button */
  border-radius: 4px;
}

  /* Add your CSS styles for the form elements here */
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-container input[type="text"],
  .form-container input[type="number"],
  .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-container input[type="file"] {
    margin-bottom: 10px;
  }

  .form-container input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .form-container input[type="submit"]:hover {
    background-color: #45a049;
  }

/* CSS for success message */
.messages .success {
  

  border-radius: 5px;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  color: #155724;
  background-color: #d4edda;
}

/* CSS for error message */
.messages .error {
  
  border-radius: 5px;
  padding: 0;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  color: #721c24;
  background-color: #f8d7da;
}
