.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/static/app/images/bf.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  opacity: 0.1; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #f0f0f0; */
    background-color: #FCF6F5; 
    color: #990011;
    border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid black;
  }
  
  .navbar-left h1 {
    margin: 0;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    margin-left: 10px;
    color: #990011;
    text-decoration: none;
    font-size: 18px;
  }
  /* Style the anchor elements when hovered */
.navbar-right a:hover {
  color: gray; /* Change color on hover if desired */
}

/* Style specifically the "Become Partner" button */
.navbar-right a[href*="viz_a_vehicle_list"] {
  padding: 8px 15px; /* Adjust padding for button size */
  background-color: #990011; /* Apply orange box color */
  color: #FCF6F5; /* Set text color to black */
  font-size: 18px; /* Increase font size for the button */
  border-radius: 4px;
}


 /* Style for the vehicle list container */
.vehicle-list {
  margin: 20px;
  /* display: flex;
  flex-wrap: wrap; */
  
  }
  
  /* Style for each vehicle record */
  .vehicle-record {
  overflow: hidden;
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 15px; 
border-top-right-radius: 15px; 
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;

  
  }
  
  .vehicle-details {
  /* float: right;
  width: calc(100% - 220px); */
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f9f9f9;
  }
  
  .vehicle-image {
  /* float: left;
  margin-right: 20px; */
  height: 200px;
  overflow: hidden;
  }
  
  .vehicle-image img {
  /* max-width: 200px;  */
  width: 100%;
  height: 100%; 
  display: block;
  object-fit: contain;
  /* margin-bottom: 10px; */
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  /* border: 2px solid #ccc; */
  }
  
  /* Style for the update and delete buttons */
  .btn-group {
  margin-top: 5px;
  }
  
  .btn-group button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  }
  
  .btn-book-now {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  
 
  .vehicle-container {
    width: calc(33.33% - 20px);
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: white;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden; /* Add overflow to contain floated elements */
    /* border: 2px solid #ccc; */
  }
  

  @media only screen and (max-width: 767px) {
    .background-image {
      background-size: contain; /* Adjust background size for better visibility on smaller screens */
      opacity: 0.3; /* Adjust opacity for better visibility on smaller screens */
    }
  }
  