/* body {
  margin: 0;
} */

/* .background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover; 
  z-index: -1; 
  opacity: 0.5;
} */


.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/static/app/images/bf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #f0f0f0; */
    background-color: #FCF6F5;
    color: #990011;
    border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid black;
  }
  
  .navbar-left h1 {
    margin: 0;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    margin-left: 10px;
    color: #990011;
    text-decoration: none;
    font-size: 18px;
  }
  /* Style the anchor elements when hovered */
.navbar-right a:hover {
  color: gray; /* Change color on hover if desired */
}

/* Style specifically the "Become Partner" button */
.navbar-right a[href*="index"] {
  padding: 8px 15px; /* Adjust padding for button size */
  background-color: #990011; /* Apply orange box color */
  color: #FCF6F5; /* Set text color to black */
  font-size: 18px; /* Increase font size for the button */
  border-radius: 4px;
}

    .become_partner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh; /* Adjust the height as needed */
        transition: border-color 0.3s ease;
        border: 1px solid transparent; /* Initially transparent border */
      border-radius: 10px;
      }
      .become_partner-form:hover {
        border-color: white; /* Change border color on hover */
      }
      .become_partner-form {
        width: 300px; /* Adjust the width of the form */
        padding: 20px;
        border: 3px solid black;
        border-radius: 5px;
        text-align: center;
        background-color: white;
      }
      .become_partner-heading {
        margin-bottom: 20px; /* Add spacing between heading and form inputs */
      }
      /* New styles for form fields */
      form input[type="text"],
      form input[type="tel"],
      form input[type="number"] {
        width: calc(100% - 22px); /* Adjust width to accommodate padding and borders */
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }
      /* Style for the labels */
      form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: left; /* Align label text to the left */
      }
      /* Style for the Submit button */
      form button[type="submit"] {
        background-color: #ff6600; /* Change to your preferred impressive color */
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      form button[type="submit"]:hover {
        background-color: #e55d00; /* Change to a slightly different shade on hover if desired */
      }


      /* become_partner.css */

.messages {
  padding: 10px;
  margin-bottom: 15px;
}

.messages .alert-success {
  background-color: #4caf50; /* Green background for success messages */
  color: white;
}

.messages .alert-error {
  background-color: #f44336; /* Red background for error messages */
  color: white;
}
