.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/static/app/images/bf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #f0f0f0; */
    background-color: #FCF6F5;
    color: #990011;
    border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid black;
  }
  
  .navbar-left h1 {
    margin: 0;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    margin-left: 10px;
    color: #990011;
    text-decoration: none;
    font-size: 18px;
  }
  /* Style the anchor elements when hovered */
.navbar-right a:hover {
  color: gray; /* Change color on hover if desired */
}

/* Style specifically the "Become Partner" button */
.navbar-right a[href*="user_bookings"] {
  padding: 8px 15px; /* Adjust padding for button size */
  background-color: #990011; /* Apply orange box color */
  color: #FCF6F5; /* Set text color to black */
  font-size: 18px; /* Increase font size for the button */
  border-radius: 4px;
}

  .container {
    max-width: 800px; /* Adjust max-width as needed */
    margin: 0 auto;
    margin-top: 55px;
    padding: 20px;
     border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FCF6F5;
    border: 2px solid black;
  }






  /* New styles for added elements */
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.quotation {
  text-align: center;
  margin-top: 20px;
}

.quotation blockquote {
  font-style: italic;
  font-size: 18px;
}



.image-gallery {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Adjust alignment as needed */
  flex-wrap: wrap; /* Allow images to wrap */
  position: relative; /* Set position to relative for absolute positioning of text */
  
}

/*added*/
.image-gallery .gallery-item {
  position: relative;
  /* display: inline-block; */
}


.image-gallery img {
  width: 300px; /* Adjust size as needed */
  height: auto;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f5f5f5;
  border: 2px solid black;
}

.image-gallery img:hover {
  transform: scale(1.1);
  filter: brightness(70%);
}


.image-gallery .gallery-item .image-text {
  position: absolute;
  bottom: 0;
  left: 50%; /* Align the text box horizontally at 50% of the parent container */
  transform: translateX(-50%); /* Adjust to center the text box horizontally */
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color:black; */
  padding: 10px;
  font-size: 16px;
  opacity: 1; /* Set the initial opacity to 1 to display the text by default */
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  width: auto; /* Let the width adjust based on content */
  max-width: 90%; /* Limit the text box width to 90% of the image width */
  box-sizing: border-box; /* Include padding in width calculation */
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.image-gallery .gallery-item:hover .image-text {
  opacity: 1;
}



/* Add these styles to your existing CSS file */

.map-buttons {
  text-align: center;
  margin-top: 20px;
}

.map-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #990011; /* Change background color as needed */
  color: #fff; /* Change text color as needed */
  border: none;
  border-radius: 10px;
  margin: 0 70px;
  transition: background-color 0.3s ease-in-out;
}

.map-buttons button:hover {
  background-color: #f5374d; /* Change background color on hover */
}


