/* mobile.css */

/* General Styles for Mobile */
/* body {
  font-size: 16px; 
}
 
.navbar {
  flex-direction: column; 
  text-align: center;
}

.navbar-left, .navbar-right {
  width: 100%;
  margin-bottom: 10px;
}

.navbar-right {
  order: -1; 
}

.navbar-right a {
  display: block;
  margin: 5px 0;
} */

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
}

/* .content-left, .content-right {
  width: 100%; 
  height: auto;
} */

.content-left {
  width: 50%; 
  padding: 20px; 
  box-sizing: border-box; 
  background-color: #FCF6F5;
  /* background-color: #FBF8BE; */
  color: black;
  position: relative;
border-radius: 15px;
  margin-right: 10px; 
}
.content-right {
  width: 50%; 
  position: relative; 
}

.services-section, .partners-section {
  padding: 10px;
}

.service, .partner {
  width: 100%;
}

/* .content-left {
  padding: 10px; 
  box-sizing: border-box;
  background-color: #FCF6F5;
  color: black;
 
  border-radius: 10px; 
  margin-right: 0; 
  font-size: 17px;
} */

.blinking-text {
  /* position: absolute; */
  top: 10px; 
  left: 10px; 
  font-size: 1.2em;
}

/* .content-right {

  position: relative;
  margin-top: 10px; } */

.background-video {
  width: 100%; /* Ensure the video takes up the full width */
  height: auto; /* Make the height auto to maintain aspect ratio */
  border-radius: 10px; /* Adjust border-radius for smaller screens */
}

/* Media Query for Tablets and Larger Screens */
@media (min-width: 768px) {
  /* .navbar {
    flex-direction: row; 
  }

  .navbar-left, .navbar-right {
    width: auto;
    margin-bottom: 0;
  }

  .navbar-right {
    order: 0; 
  }

  .navbar-right a {
    display: inline; 
    margin: 0 10px;
  } */

  .content-wrapper {
    flex-direction: row;
  }

  /* .content-left, .content-right {
    width: 50%; 
  } */

  /* .content-left {
    padding: 20px; 
  } */

  .blinking-text {
    top: 20px; 
    left: 20px; 
    font-size: 20px; 
    width: 415px;
  }

  .content-right {
    margin-top: 0; 
  }

  .background-video {
    border-radius: 10px; /* Reset border-radius for larger screens */
  }
}
